/* Sections */
section.canverse-kit_add {
    border: 1px dashed black;
    padding:10px;
    min-height:300px;
    -webkit-transition: all 1s;
}
section.canverse-kit_effect_sink {
    -moz-box-shadow: inset 15px 15px 15px#888;
    -webkit-box-shadow: inset 15px 15px 15px#888;
    box-shadow: inner 15px 15px 15px#888;
}



/* Tools */
.canverse-kit_tool {
    padding:15px;
}

.canverse-kit_template{
    border:1px dashed black;
    min-height:50px !important;
    -webkit-transition: All 1s;
}
.canverse-kit_template.selectedZoomTarget{
        border:1px dashed red;
}